h1{
text-align:center;
}
.bigdiv{
width:500px;
margin:0 auto;
}
body{
background-image:url("bg.jpeg");
background-repeat:no-repeat;
background-attachment:fixed;
/*background-position:center;*/
background-size:cover;
}

